@import "styles/colors.scss";
@import "styles/breakpoint.module.scss";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 16px 20px;
  background-color: $white;
  border-radius: 20px;

  & > div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    row-gap: 15px;

    @media screen and (max-width: $breakpoint-min-tablet) {
      flex-direction: column;
      align-items: center;
    }
  }

  .wrapperEdit {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    color: $gray-100;
  }

}
