@import "styles/colors.scss";
@import "styles/breakpoint.module.scss";

.wrapper {
  width: 100%;
  padding: 30px 64px;
  background-color: $white;
  border-radius: 20px;
  text-align: center;

  &>h3{
    text-align: center;
    margin-bottom: 30px;
    @media screen and (max-width: $breakpoint-mid-tablet) {
      margin-bottom: 10px;
    }
  }

  &>div{
    display: flex;
    column-gap: 16px;
    justify-content: center;
    &>div:first-of-type{
      width: 293px;
      display: flex;
      flex-direction: column;
      row-gap: 6px;
      @media screen and (max-width: $breakpoint-min-tablet) {
        width: 100%;
        margin-bottom: 15px;
      }
    }
    &>div:last-of-type{
      width: 265px;
      display: flex;
      flex-direction: column;
      row-gap: 6px;
      @media screen and (max-width: $breakpoint-min-tablet) {
        width: 100%;
      }
    }
    @media screen and (max-width: $breakpoint-min-tablet) {
      width: 100%;
      display: block;
    }
  }


  @media screen and (max-width: $breakpoint-mid-tablet){
    padding: 16px 16px;
  }

}