@import "styles/breakpoint.module.scss";
@import "styles/colors.scss";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .imageWrapper {
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img,
    div {
      width: 100%;
      border-radius: 20px !important;
    }

    button {
      margin-top: 6px;
      border: none;
      cursor: inherit;

      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      text-decoration-line: underline;
      opacity: 0.3;

      &:hover {
        opacity: 0.5;
      }

      &:active {
        opacity: 0.2;
      }
    }
  }
}

.menuBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;

  @media screen and (max-width: $breakpoint-min-tablet) {
    margin-top: 15px;
  }
  p {
    color: $black;
    opacity: 0.5;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
