@import "../../styles/colors.scss";

.wrapperProfile{

    display: flex;
    justify-content: space-between;
    width: 850px;
    margin-top: 30px;

    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        .img{
            width: 245px;
            height: 245px;
            background-color: $secondColor;
            border-radius: 50%;
            margin-bottom: 15px;
        }
        &>div:last-of-type{
            display: flex;
            flex-direction: column;
            align-items:center;
            h3{
                font-size: 24px;
            }
            h3,p+p{
                margin-bottom: 5px;
            }
        }
    }


    .setting{
        width: 350px;
        text-align: center;
        &>div{
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            button{
                
                width: 45%;
            }
        }
    }
}