$breakpoint-pc: 1600px;
$breakpoint-max-tablet: 960px;
$breakpoint-mid-tablet: 700px;
$breakpoint-min-tablet: 600px;
$breakpoint-xmax-phone: 500px;
$breakpoint-max-phone: 400px;
$breakpoint-mid-phone: 375px;
$breakpoint-min-phone: 350px;