$mainColor: #eaeaea;
$secondary: #082032;
$black: #000;
$white: #fff;
$gray-100: #c5c5c5;
$gray-900: rgba(0, 0, 0, 0.7);

$black-p50: rgba(0, 0, 0, 0.5);
$white-p50: rgba(255, 255, 255, 0.5);
