@import "styles/colors.scss";

.container {
  .button {
    border: none;
    border-radius: 15px;
    height: 45px;
    width: 100%;
    color: $black;
    background-color: $white;
  }
  .buttonOpen {
    border: none;
    border-radius: 15px 15px 0 0;
    height: 45px;
    width: 100%;
    color: $black;
    background-color: $white;
  }
  & > div {
    border-radius: 0 0 15px 15px;
    background-color: $white;
  }
  ul {
    min-height: 200px;
    overflow: scroll;
  }
}

