@import "styles/colors.scss";

.container {

  &>*{
    padding: 0 15px;
  }

  .button {
    border: none;
    border-radius: 15px;
    height: 50px;
    width: 100%;
    color: $black;
    background-color: $white;
    margin-bottom: 10px;
  }
  
  .buttonOpen {
    border: none;
    border-radius: 15px 15px 0 0;
    height: 45px;
    width: 100%;
    color: $black;
    background-color: $white;
  }

  & > div {
    border-radius: 0 0 15px 15px;
    background-color: $white;
    &:first-of-type{
      margin-bottom: 10px;
    }
  }

  ul {
    min-height: 200px;
    overflow-y: scroll;

    li{
      display: flex;
      padding-top: 10px;
      &>div:first-of-type{
        width: 70px;
        height: 70px;
        img{
          width: 100%;
          height: 100%;
        }
      }

      &>div:last-of-type{
        padding-left: 10px;
        p+p{
          margin-top: 10px;
        }
      }
    }
  }

}

