@import "styles/colors.scss";

.container {

  &>*{
    padding: 0 15px;
  }

  .button {
    border: 1px solid $secondary;
    border-radius: 15px;
    height: 50px;
    width: 100%;
    color: $black;
    margin-bottom: 10px;
    background-color: $white;
    &Open{
      border: none;
      border-radius: 15px 15px 0 0;
      border-top: 1px solid $secondary;
      border-left: 1px solid $secondary;
      border-right: 1px solid $secondary;
      width: 100%;
      color: $black;
      height: 50px;
      background-color: $white;
    }
  }
  
  & > div {
    border-radius: 0 0 15px 15px;
    background-color: $white;
    border-bottom: 1px solid $secondary;
    border-left: 1px solid $secondary;
    border-right: 1px solid $secondary;
    &:first-of-type{
      margin-bottom: 10px;
    }
  }

  ul {
    min-height: 200px;
    overflow-y: scroll;

    li{
      display: flex;
      padding-top: 10px;
      &>div:first-of-type{
        width: 70px;
        height: 70px;
        img{
          width: 100%;
          height: 100%;
        }
      }

      &>div:last-of-type{
        padding-left: 10px;
        p+p{
          margin-top: 10px;
        }
      }
    }
  }

}

