@import "styles/colors.scss";

.inputWrapper {
  position: relative;
  margin-bottom: 8px;

  & > input {
    border-radius: 15px;
    height: 50px;
    width: 100%;
    border: 2px solid $gray-100;
    padding-left: 15px;
    font-weight: 600;
    color: $gray-100;

    &::placeholder {
      color: $black-p30;
    }

    &:-webkit-autofill {
      box-shadow: inset 0 0 0 1000px #fff;
    }

    &:focus,
    &:active {
      border: 2px solid $secondary;
      color: $secondary;
    }

    &:focus + label,
    &:active + label {
      color: $secondary;
    }
  }

  & > label {
    position: absolute;
    bottom: -15%;
    left: 20px;

    background-color: $white;
    padding: 0 3px;

    color: $gray-100;
    font-weight: 600;

    z-index: 2;
  }
  & > .passwordShowToggle {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;

    cursor: pointer;

    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);

    i {
      width: 100%;
      height: 100%;
      background-color: $gray-900;
    }
  }

  & ~ span {
    text-align: start;
    margin-bottom: 8px;
    color: $secondary;
    font-weight: bold;
  }
}
