@import "../../styles/colors.scss";

.navbar {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  width: 100%;

  ul {
    display: flex;
    li {
      width: 132px;
      height: 42px;
    }

    li > a {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      text-decoration: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}