@import "styles/colors.scss";
@import "styles/breakpoint.module.scss";

.wrapperUser {
  display: flex;
  justify-content: space-between;
  width: 668px;
  margin-top: 30px;

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    .img {
      width: 245px;
      height: 245px;
      background-color: $secondary;
      border-radius: 50%;
      margin-bottom: 15px;
    }
    & > div:last-of-type {
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        font-size: 24px;
      }
      h3,
      p + p {
        margin-bottom: 5px;
      }
    }
  }

  .setting {
    width: 350px;
    text-align: center;
    & > ul {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      li:first-of-type{
        width: 200px;
      }
    }
  }

  @media screen and (max-width: $breakpoint-min-tablet) {
    // grid-template-columns: repeat(1, 1fr);
    // display: none;
    flex-direction: column;
    align-items: center
  }
}
