@import './colors.scss';
@import "./breakpoint.module.scss";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  scroll-behavior: smooth;
}

body{
  background-color: $mainColor;
  font-family: 'Palanquin Dark', sans-serif;
  overflow-x: hidden;
  @media screen and (max-width: $breakpoint-min-phone){
    overflow-x: auto;
  }
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
 flex: 1 0 auto;
}

footer{
  flex: 0 0 auto;
}

input{
  font: inherit;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

nav, footer{
  background-color: $secondColor;
}

// input, select{
//   background-color: $mainColor;
//   border: 2px solid $secondColor;
//   padding-left: 15px;
//   border-radius: 5px;
//   padding-top: 6px;
//   padding-bottom: 6px;
// }

// button{
//   background-color: $secondColor;
//   color: $mainColor;
//   border: 2px solid $secondColor;
//   border-radius: 5px;
//   padding-top: 6px;
//   padding-bottom: 6px;
//   &:hover{
//     background-color: $mainColor;
//     color: $secondColor;
//   }
// }