@import "styles/breakpoint.module.scss";
@import "styles/colors.scss";

.viewElement {
  main {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    @media screen and (max-width: $breakpoint-min-tablet) {
      flex-direction: column;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}

.image {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.noImage {
  aspect-ratio: 1/1;
  background-color: $black-p50;
  border-radius: 50%;

  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
